/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 50px auto 20px  auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
    
  }

  body{
    background-color: rgb(246 248 250);
    font-family: Arial, Helvetica, sans-serif;
  }

 
  .header-logo{
    line-height: 100px;
    margin-left: 10px;
    background-color: white;
  }

  .logo-boolean{
    height: 60px;
    vertical-align: middle;
  }

  .logo-title{
    display: inline;
  }

  .buttons{
    padding: 10px;
    background-color: white;
  }

  .add-task{
    background-color: #3ea6f0;
    padding: 3px;
    border-radius: 5px;
    border-color: black;
    border: 2px solid black;
  }
  a{
    text-decoration: none;
  }
  .add-task:hover{
    background-color: blue;
  }

  .add-section{
    background-color:#ffffff;
    padding: 3px;
    border-radius: 5px;
    border-color: black;
    border: 2px solid black;
  }

  .add-section:hover{
    background-color: blue;
  }

  .chronology{
    padding: 20px;
  }
  
  .object-list{
    list-style-type: none;
    margin-left: 20px;
  }

  .object-points{
    line-height: 3;
    font-size: 1.1rem;
  }

  .check{
    display: inline;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(27, 238, 58);
    color: rgb(27, 238, 58);
    border-radius: 50%;
  }

  .cross{
    display: inline;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(233, 13, 13);
    color: rgb(233, 13, 13);
    border-radius: 50%;
  }

  .tickets{
    font-size: .8rem;
    color: white;
    border: 1px solid gray;
    border-radius: 10px; 
    background-color:#47a6ec; 
    padding: 8px;
    
  }

  #goals{
    background-color: #9b7ce3;
  }

  #recruiting{
    background-color: #5fb7a7 ;
  }

  #mobile{
    background-color: #f8a031;
  }

  #website{
    background-color: #de729b ;
  }

  #sales{
    background-color:#afba24 ;
  }



  