/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 50px auto 20px  auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
    
  }

  body{
    background-color: grey;
  }

 
  .header-logo{
    line-height: 100px;
    margin-left: 10px;
    background-color: white;
  }

  .logo-boolean{
    height: 60px;
    vertical-align: middle;
  }

  .logo-title{
    display: inline;
  }

  .buttons{
    padding: 10px;
    background-color: white;
  }

  .add-task{
    background-color: #3ea6f0;
    padding: 3px;
    border-radius: 5px;
    border-color: black;
    border: 2px solid black;
  }
  a{
    text-decoration: none;
  }
  .add-task:hover{
    background-color: blue;
  }

  .add-section{
    background-color:#ffffff;
    padding: 3px;
    border-radius: 5px;
    border-color: black;
    border: 2px solid black;
  }

  .add-section:hover{
    background-color: blue;
  }

  .chronology{
    padding: 20px;
  }
  
  .object-list{
    list-style-type: none;
    margin-left: 20px;
  }

  .object-points{
    line-height: 3;
  }

  .tickets{
    font-size: .7rem;
    color: white;
    border: 1px solid black;
    border-radius: 6px; 
    background-color:#47a6ec; 
    padding: 1px;
  }

  .tickets 

  